/* @import '~antd/dist/antd.css'; */

.app {
  text-align: center;
}

.app-layout {
  display: flex;
  flex-direction: column;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #365b96;
  height: 64px;
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
  color: white;
}

.app-intro {
  font-size: large;
}

.header-menu {
  background-color: #365b96;
  color: white;
  line-height: 64px;
}

.app-sidebar {
  margin: 24px;
  width: 200px;
  background-color: white;
}

.sequencer-container {
  padding: 24px;
}

.sequencer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  background-color: white;
  padding: 24px;
  margin: 0;
  min-height: 280px;
}

.app-footer {
  text-align: center;
}

.pad-button {
  margin: 0px 2px;
  height: 40px;
  width: 40px;
}

.pad-row-container {
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
